{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="about" class="about-section">
        <div class="container text-center">
            <h2 class="section-title">
                <span class="script">Про нас</span>
                <span class="title-text">За сценою</span>
                <span class="title-border"></span>
            </h2>
            <div class="intro ms-auto me-auto">
                <p>Наш м'ясний ресторан - це унікальне місце, де ви знайдете справжній шедевр м'ясних страв. Ми пристрасно вдосконалюємо кулінарне мистецтво, поєднуючи найсмачніші інгредієнти з майстерністю наших шеф-кухарів. У нашому ресторані ви зможете насолодитися неперевершеним смаком соковитого м'яса, що приготоване з любов'ю та увагою до деталей. Завітайте до нас і дайте себе потішити неперевершеним досвідом смаку та атмосферою, які залишать незабутні враження.</p>
            </div>
            <div class="suppliers">
                <h3 class="title script">Наші співробітники</h3>
                <div class="supplier-list ms-auto me-auto">
                    <div class="supplier-type">
                        <h4 class="type-title">М'ясо</h4>
                        <ul class="list-unstyled">
                            <li>Микола Мясенко</li>
                        </ul>
                    </div><!--//supplier-type-->
                    <div class="supplier-type">
                        <h4 class="type-title">Риба</h4>
                        <ul class="list-unstyled">
                            <li>Юрій Вобла</li>
                        </ul>
                    </div><!--//supplier-type-->
                    <div class="supplier-type">
                        <h4 class="type-title">Фрукти та Овочі</h4>
                        <ul class="list-unstyled">
                            <li>Євген Томатов</li>
                            <li>Михайло Фрукт</li>
                        </ul>
                    </div><!--//supplier-type-->
                </div><!--//supplier-list-->
            </div><!--//suppliers-->
        </div><!--//container-->
    </div><!--//about-section-->
{% endblock %}
