<!-- ******FOOTER****** -->
<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-12 col-md-6 col-lg-4">
                    <div class="footer-col-inner">
                        <h3 class="title">Ми відкриті</h3>
                        <ul class="list-unstyled">
                            <li class="mb-3"><span>Пон - П'ят:</span> 08:00 - 21:30</li>
                            <li class="mb-3"><span>Суб:</span> 09:00 - 22:00</li>
                            <li><span>Нед</span> 09:00 - 22:00</li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//footer-col-->
                <div class="footer-col col-12 col-md-6 col-lg-4">
                    <div class="footer-col-inner ">
                        <h3 class="title">Приходьте: Харківська 5</h3>
                        <p>Суми</p>
                        <p>40024</p>
                        <p>Україна</p>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-12 col-lg-4">
                    <div class="footer-col-inner">
                        <h3 class="title">Follow us</h3>
                        <ul class="social-icons list-inline">
                            <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li class="last list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
            </div>
        </div>
    </div><!--//footer-content-->
    <div class="bottom-bar">
        <div class="container text-center">
            <ul class="list-inline links">
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                <li class="list-inline-item" role="presentation">|</li>
                <li class="list-inline-item"><a href="#">Terms &amp; Conditions</a></li>
            </ul>
        </div><!--//container-->
    </div><!--//bottom-bar-->
</footer><!--//footer-->
